@import "@/assets/css/variaveis.scss";

#menu {
	height: 100%;
	display: inline;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-size: 16px;

	aside {
		background: $cinza;

		.v-toolbar {
			padding: 15px 0 25px;
		}

		.v-icon {
			color: #444444;
			font-size: 20px;
		}

		.header {
			color: #444444;

			.v-list__tile {
				height: auto;
			}

			.title {
				height: 100%;

				img {
					position: relative;
					height: 40px;
					top: 3px;
				}
			}

			.aberto {
				top: 0px;
				position: relative;
				left: 20px;
				min-width: 45px;
			}
		}

		.body {
			padding: 0 10px;

			.v-list__tile {
				font-size: 14px;
				padding: 0;
				font-weight: 400;
				height: 36px;
				color: #444444;

				.v-list__tile__action {
					min-width: 30px;
				}
			}

			.v-list__tile__title {}

			.v-list__group__items {
				/*background-color: #f2f2f2;*/

				display: block;

				.linha {
					border-bottom: 0;
					margin-bottom: 0;
					padding: 0px 0px;
					border-top: 1px dashed #d1d1d1;

					.v-list__tile {
						height: auto;
						font-size: 14px;
						color: #444444;
						font-size: 13px;
						padding: 6px 0;

						.v-list__tile__title {
							height: auto;
							line-height: 20px;
							white-space: pre-wrap;
							overflow: initial;
							text-overflow: ellipsis;

							/*
                            &:before {
                                content: '•';
                                margin: 0 8px;
                            }
                            */

							.pre {
								height: 100%;
								width: 30px;
								display: block;
								float: left;

								&:before {
									content: "•";
									margin: 0 10px;
								}
							}

							.item {
								width: calc(100% - 30px);
								display: block;
								float: left;
							}
						}

						&:hover {
							background-color: transparent;
						}
					}

					&:last-child {
						.v-list__tile {
							border-bottom: 0;
						}
					}
				}
			}

			.v-list__group__header__append-icon {
				padding-right: 0;
			}

			.group-linha,
			.linha {
				box-sizing: border-box;
				color: inherit;
				cursor: pointer;
				font-size: inherit;
				text-align: left;
				width: 100%;
				padding: 2px 8px;
				fill: rgb(235, 236, 240);
				border-width: initial;
				border-style: none;
				border-color: initial;
				border-image: initial;
				border-radius: 3px;
				outline: none;
				text-decoration: none;
				margin-bottom: 2px;

				&.active,
				&.active:hover,
				&.active.v-list__group--active {
					color: #4f8792;
					background: rgba(217, 229, 231, 0.4);

					.v-icon,
					.v-list__tile {
						color: #4f8792;
					}

					.v-list__group__header,
					.v-list__tile--link {
						border-bottom: none;
						background: transparent;

						&:hover {
							background: transparent;
						}
					}

					.v-list__group__items {

						.v-icon,
						.v-list__tile {
							color: #444444;
						}
					}
				}

				&:hover,
				&.v-list__group--active {
					background: rgba(0, 0, 0, 0.04);

					.v-list__group__header {
						border-bottom: none;
						background: transparent;

						&:hover {
							background: transparent;
						}
					}
				}

				&.disabled {
					cursor: initial;

					.v-list__tile,
					.v-icon {
						color: #b1b1b1;
					}

					&:hover {
						background: transparent;
					}
				}
			}
		}

		.v-list__group:before,
		.v-list__group:after {
			height: 0px;
		}

		.v-list__group__header .v-list__group__header__append-icon,
		.v-list__group__header .v-list__group__header__prepend-icon {
			padding: 0 0px 0 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.v-list__group__header--active {
			background: #eaeaea;
		}

		.suporte {
			position: absolute;
			bottom: 0;
			color: #444444;
			width: 100%;
			padding: 0 10px 10px;

			.link {
				width: 50%;
				display: block;
				float: left;
				text-align: center;
				padding: 10px 0 5px;
				text-decoration: none;
				color: #444444;
				border-radius: 3px;

				span {
					font-size: 13px;
				}

				&:hover {
					background: rgba(0, 0, 0, 0.04);
				}
			}

			.v-icon {
				width: 100%;
			}
		}

		&.v-navigation-drawer--mini-variant {
			.body {
				.v-list__tile__action {
					min-width: 42px;
				}
			}

			.suporte {
				.link {
					width: 100%;

					span {
						display: none;
					}
				}
			}
		}

		.v-toolbar__content .v-btn--icon,
		.v-toolbar__extension .v-btn--icon {
			margin: 3px;
		}

		&:after {
			content: "";
			height: 100%;
			width: 20px;
			position: fixed;
			left: 100%;
			top: 0;
			box-shadow: 0px 0px 2px 1px #e1e1e1;
		}
	}

	.theme--light.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
		background-color: rgba(0, 0, 0, 0.12);
		display: none;
	}
}