@import "@/assets/css/variaveis.scss";

.admin {
	background: #45495805;//45495805
	min-height: 100vh;
	padding-bottom: 50px;

	a {
		text-decoration: none;
	}

	.container {
		margin-top: 60px;
		max-width: 1200px;
	}

	h1 {
		font-family: "Quicksand", sans-serif;
		font-weight: 700;
		font-size: 32px;
		line-height: 34px;
		margin-top: 30px;
	}

	h5 {
		font-family: "Quicksand", sans-serif;
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 30px;
	}

	.v-btn:not(.v-btn--round).v-size--large {
		height: 50px;
	}

	.v-tabs-bar {
		/*border: 1px solid #9e9e9e;*/
		border-radius: 4px;
		/*box-shadow: 0px 0px 4px 4px #f3f3f3;*/
		overflow: hidden;

		.v-tab {
			/*font-family: "Quicksand", sans-serif;*/
			font-weight: 600;
			text-transform: none;
			font-size: 16px;
			background-color: #efefef;
		}

		.v-tab--active {
			background: #c8d6df;
		}
	}

	.v-tabs-slider {
		display: none;
	}

	.v-tabs-items {
		background: transparent;
	}

	.btn {
		display: flex;
		align-items: center;
		-webkit-border-radius: 15px;
		border-radius: 4px;
		color: #fff;
		border-width: 3px;
		border-style: solid;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		text-transform: uppercase;
		font-weight: 700;
		position: relative;
		overflow: hidden;
		padding: 8px 20px;
		font-size: 16px;
		color: #f5f5f5;
		text-decoration: none;
		width: fit-content;
		min-height: 45px;

		&:focus {
			outline: none;
		}

		i.fa,
		.v-icon {
			color: #f5f5f5;
			position: absolute;
			transition: left 0.3s, right 0.3s, color 0.3s;

			&.mdi-content-save {
				font-size: 20px;
			}

			&.relative {
				position: relative;
			}
		}

		.i-right {
			right: 20px;
			//margin-left: 5px;
		}

		span {
			padding-right: 35px;
			transition: all 0.3s;
			color: #f5f5f5;
		}

		.v-progress-circular {
			height: 25px !important;
			width: 25px !important;
		}

		&.danger {
			background: #ff5252;
			border-color: #ff5252;
		}

		&.voltar {
			.i-right {
				left: 20px;
				right: auto;
			}

			span {
				padding-right: 0px;
				padding-left: 30px;
			}
		}

		&:disabled {
			background: #e2e2e2 !important;
			border-color: #e2e2e2 !important;
		}
	}

	.lista {
		border-radius: 4px;
		padding-top: 0;

		.lista__header {
			border-radius: 4px;
			font-size: 14px;

			.col {
				font-weight: 500;
			}
		}

		.lista__body {
			border-radius: 4px;
			background: white;
			margin-bottom: 8px;
			box-shadow: 0px 0px 4px 4px #3d3636;
			text-decoration: none;
			color: #313031;
			font-size: 13px;

			&:not(.not-found):hover {
				/*background: $laranja;*/
				box-shadow: 0px 0px 4px 4px #ccc;
			}

			&.inativo {
				opacity: 0.6;

				&:not(:hover) .col:last-child {
					color: #ff5252;
				}
			}

			.rascunho {
				
				color: white;
				padding: 2px 4px;
				border-radius: 2px;
			}

			.v-icon {
				font-size: 22px;
			}
		}
	}

	.v-alert.v-alert--text {
		padding: 8px;

		.v-alert__icon {
			height: 32px;
			min-width: 32px;
			margin: 2px 15px 2px 2px;

			&.v-icon {
				font-size: 24px;
			}
		}
	}

	.conteudo {
		.editor-area {
			position: relative;
			width: 100%;

			label {
				font-size: 12px;
				z-index: 1;
				/* margin-top: 30px; */
				display: block;
				position: absolute;
				top: 4px;
				left: 20px;
				padding: 0 5px;
				color: rgba(0, 0, 0, 0.6);
				background-image: linear-gradient(transparent 2px,
						#efefef 10px);
			}

			&.erro {
				label {
					color: #ff5252;
				}

				.mce-tinymce {
					border-color: #ff5252 !important;
					border-width: 2px !important;
				}
			}
		}

		.mce-btn.mce-active button,
		.mce-btn.mce-active:hover button,
		.mce-btn.mce-active i,
		.mce-btn.mce-active:hover i {
			color: #595959;
		}

		.mce-tinymce {
			box-shadow: none;
			/*border: 2px solid #d7d7d7;*/
			border-radius: 4px;
			overflow: hidden;
			background: transparent;
			padding-top: 10px;
			border-color: #9e9e9e !important;
			background: #efefef;

			.mce-container-body,
			.mce-btn,
			.mce-btn.mce-active {
				background: #efefef;
				color: #595959;
			}

			.mce-stack-layout {
				border: none;
			}

			.mce-container-body.mce-flow-layout {
				padding: 5px;
			}

			.mce-top-part::before {
				box-shadow: none;
			}

			div.mce-edit-area {
				background-color: white;
				border-color: #9e9e9e !important;
				/*border: 2px solid #cecece8f;*/
			}

			.mce-last {
				.mce-container-body.mce-flow-layout {
					.mce-widget.mce-label {
						display: none;
					}
				}
			}
		}
	}
}

.dialog--excluir {
	.v-card {
		.v-card__title {
			text-align: center;
			justify-content: center;
		}

		.v-card__text {
			padding: 40px 20px 30px;
			text-align: center;
			color: initial;
			font-weight: 500;
			font-size: 16px;
		}
    }
    .v-application .menu {
        .v-toolbar {
            background: #333638;
            height: 60px !important;
            position: fixed;
            width: 100%;
            z-index: 1000;
    
            .v-toolbar__content {
                display: flex;
                justify-content: center;
                height: 60px !important;
    
                .v-btn {
                    padding: 0;
    
                    .v-btn__content {
                        height: 60px;
                    }
    
                    a {
                        color: white;
                        text-decoration: none;
                        height: 60px;
                        padding: 0 16px;
                        display: flex;
                        align-items: center;
                        font-family: "Quicksand", sans-serif;
                        text-transform: none;
                        font-size: 15px;
    
                        &.active {
                            /*background: #535353;*/
    
                            &:after {
                                content: "";
                                background: red;
                                height: 3px;
                                width: 100%;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}



