@import "@/assets/css/variaveis.scss";

.dialog-sim-nao {
    .button-area {
        width: 100%;
        margin-bottom: 10px;
    }

    .theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
        background-color: $azul-econet;
        display: table;
        margin: auto;
    }

    .v-card__text {
        padding: 15px 5%;
    }

    .button-area {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 0;

        .v-btn,
        .theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
            box-shadow: none;
            width: 150px;
            margin: 0 5px 10px;
            background: $azul-econet;
            border: 1px solid $azul-econet;

            &.outline {
                background: transparent;
                color: $azul-econet;
                border: 1px solid $azul-econet;
                box-shadow: none;
            }

            .v-btn__content {
                margin-top: -2px;
            }
        }
    }
}
