@import "@/assets/css/variaveis.scss";

.simulacoes {
    h1 {
        width: 50%;
    }

    .lista-area {
        margin: 30px 0;

        /*border: 1px solid;*/
        border-radius: 2px;

        .theme--light.v-table,
        .theme--light.v-datatable .v-datatable__actions {
            background: transparent;
        }

        .v-table.theme--light {
            thead {
                /*background: $primary;*/

                tr {
                    height: 34px;

                    th {
                        color: white;
                        background: #777777;
                        border: 2px solid #fafafa;

                        &:first-child {
                            border-top-left-radius: 6px;
                            border-bottom-left-radius: 6px;
                        }

                        &:last-child {
                            border-top-right-radius: 6px;
                            border-bottom-right-radius: 6px;
                        }
                    }

                    .column.sortable.active,
                    .column.sortable.active:hover {
                        color: white;

                        .v-icon {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
