@import "@/assets/css/variaveis.scss";

.dialog-incidencia {
    strong {
        text-align: center;
        width: 100%;
    }

    .item {
        justify-content: center;
    }

    .switch-area {
        max-width: 155px;

        label {
            float: left;
            margin-right: 8px;
            font-size: 14px;
        }

        .v-label-left {
            line-height: 32px;
            margin-left: 25px;
        }

        .v-input--switch {
            float: left;
            margin-top: 0;
        }

        .v-input--switch .v-input--selection-controls__ripple {
            left: -8px;
            top: calc(50% - 18px);
        }
    }
}
