.presumido {


	.texto-segmento-hover {
		background: #6db1ef;
	}

	.v-alert {
		width: calc(100% - 50px);
		margin-left: 25px !important;
	}

	.legenda-cnae {
		background: #e3f2fd;
		min-width: 80px;
		text-align: right;
	}

	.tabela-tipo {
		width: 50%;
		float: left;
	}

	.area-tabela {

		display: block;
		overflow: auto;

		.dre {

			td,
			.coluna.legenda {
				font-size: 80%;
				padding: 5px;
			}

			.coluna {
				max-width: 290px;
			}
		}

		.tabela {

			overflow: auto;

			&:before {
				border: 2px solid #73a3c7;
			}

			.coluna {
				border-bottom: 2px solid #73a3c7;
				border-right: 2px solid #73a3c7;



				&.legenda {
					background: #e3f2fd;
				}

				&.dre {
					font-size: 80%;
				}
			}

			.linha .coluna.legenda.tipo {
				background: #e3f2fd;
				min-width: 80px;
				text-align: right;
			}

			.linha .coluna.texto {
				font-weight: 500;
			}
		}
	}





	table.observacoes {
		border-top: 2px solid #73a3c7;

		&:first-child {
			border-top: 0px solid #73a3c7;
		}
	}



	.area-obs {
		margin-left: 25px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 30px;
		position: relative;


		table.tabela {
			margin: 0;
			width: 100%;
			border: 0px solid black;
			border-radius: 15px;
			overflow: hidden;
			border-collapse: collapse;
			position: relative;
			margin-bottom: 10px;

			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				border: 2px solid #73a3c7;
				border-radius: 15px;
				z-index: 0;
			}

			tr:first-child {
				.coluna {
					padding-top: 10px;
				}
			}

			.coluna {
				flex-grow: 1;
				flex-shrink: 0;
				max-width: 250px;
				padding: 8px;
				border-bottom: 2px solid #73a3c7;
				border-right: 2px solid #73a3c7;
				text-align: center;

				&.legenda {
					background: #e3f2fd;
					font-weight: 600;
					text-transform: uppercase;
					font-size: 12px;
				}

				&.link {
					padding-right: 30px;
					position: relative;
					z-index: 0;
					border-left: 4px solid #73a3c7;
					text-align: left;

					.v-icon {
						position: absolute;
						right: 5px;
						font-size: 18px;
					}
				}

				&:last-child {
					border-right: 0;
				}
			}

			.linha {
				border-left: 0;
				border-top: 0;
				padding: 8px 0;
				font-size: 12px;
				font-weight: 400;

				&:last-child .coluna {
					border-bottom: 0;
				}
			}

			&.auto {
				width: auto;
				min-width: auto;
				max-width: max-content;

				.coluna {
					max-width: 250px;
					min-width: 150px;
				}
			}

			i:before {
				z-index: 0;
			}
		}

		table.aba {
			margin: 0;
			width: 100%;
			border: 2px solid #73a3c7;
			border-top: 0px;
			border-radius: 0px;
			overflow: hidden;
			border-collapse: collapse;
			position: relative;

			.linha {
				border-left: 0;
				border-top: 0;
				padding: 1px 0;
				font-size: 12px;
				font-weight: 400;

				&:last-child .coluna {
					border: 0px;
				}
			}
		}
	}
}