@import "@/assets/css/variaveis.scss";

.dialog-opiniao {
    .theme--light.v-text-field--outline > .v-input__control > .v-input__slot,
    .theme--light.v-text-field--outline
        > .v-input__control
        > .v-input__slot:hover,
    .theme--light.v-text-field--outline:not(.v-input--is-focused):not(.v-input--has-state)
        > .v-input__control
        > .v-input__slot:hover {
        border: 1px solid #ced4da;
        font-size: 14px;
        background: white !important;
    }

    .theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
        &.send {
            background-color: #426f96;
            box-shadow: 1px 1px 10px 1px rgba(80, 136, 146, 0.2);

            .icon {
                padding: 8px 0px 8px 6px;
                background-color: $azul-econet;
            }
        }
    }

    .v-text-field__details {
        padding: 0;
        margin: 0;
    }

    .v-btn {
        &.right {
            .v-btn__content {
                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: $azul-econet;
                    position: absolute;
                    transition: all 0.5s ease;
                    top: 0;
                    left: 100%;
                }
            }

            &:hover .v-btn__content:before {
                left: 0;
            }
        }
    }
}
