@import "@/assets/css/variaveis.scss";

.menu {
	.v-toolbar {
		background: #444444;
		height: 60px !important;
		position: fixed;
		width: 100%;
		z-index: 1000;

		.v-toolbar__content {
			display: flex;
			justify-content: center;
			height: 60px !important;

			.v-btn {
				padding: 0;

				.v-btn__content {
					height: 60px;
				}

				a {
					color: white;
					text-decoration: none;
					height: 60px;
					padding: 0 16px;
					display: flex;
					align-items: center;
					font-family: "Quicksand", sans-serif;
					text-transform: none;
					font-size: 15px;

					&.active {
						/*background: #535353;*/

						&:after {
							content: "";
							background: $laranja;
							height: 3px;
							width: 100%;
							position: absolute;
							bottom: 0;
							left: 0;
						}
					}
				}
			}
		}
	}
}
