@import "@/assets/css/variaveis.scss";

.theme--light.application {
	color: #444444;
}

.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
	background: #f7931d;
	text-transform: inherit;
	letter-spacing: 0.3px;
	font-size: 15px;
	font-weight: 400;
	border-radius: 4px;
}

.container {
	padding-top: 3px;
}

.v-input {
	font-size: 14px;
}

a {
	text-decoration: none;
}

h1 {
	font-weight: 800;
}

.v-btn {
	&.no-ripple {
		.v-ripple__container {
			display: none !important;
		}
	}
}

.primary {
	background: $primary;
}

.v-btn--active:before,
.v-btn:hover:before,
.v-btn:focus:before {
	background: white;
}

.theme--light.v-stepper {
	background: transparent;
	box-shadow: none;

	.v-stepper__header {
		box-shadow: none;
	}

	.v-stepper__step--active .v-stepper__label {
		text-shadow: none;
		font-weight: 500;
		color: $black;
	}

	.v-stepper__step:not(.v-stepper__step--active):not(.v-stepper__step--inactive),
	.v-stepper__step.v-stepper__step--editable:not(.v-stepper__step--active) {
		.v-stepper__step__step {
			background-color: rgba(94, 158, 170, 0.6) !important;
		}
	}

	.v-stepper__step.v-stepper__step--inactive .v-stepper__step__step {
		background-color: rgba(155, 155, 155, 0.4) !important;
	}
}

.home,
.v-dialog {
	position: relative;

	&.dialog-lg {
		width: calc(100% - 2 * 24px);
	}

	.close {
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 1000;
		font-size: 20px;
	}

	h1,
	.h1 {
		position: relative;
		margin-bottom: 20px;
		font-size: 40px;
		line-height: 46px;
		font-weight: 800;
	}

	p {
		font-family: "Asap", sans-serif;
		font-weight: 400;
		font-size: 20px;
		line-height: 1.6em;
		color: $primary;
		margin-bottom: 10px;
	}

	.conteudo-ajuda {
		text-align: center;
	}

	.v-card.v-sheet {
		border-radius: 4px;
	}
}

.titulo {
	font-weight: 500;
}

.v-input--radio-group {
	margin-top: 0;

	i {
		font-size: 18px;
		vertical-align: text-top;
		margin-top: -3px;
	}

	.v-radio:not(:last-child):not(:only-child) {
		margin-bottom: 2px;
	}

	.v-label {
		font-size: 14px;
	}

	.v-ripple__container {
		z-index: 10000;
	}

	.v-input__slot {
		margin-bottom: 5px !important;
	}
}

.v-stepper__wrapper {
	overflow: initial;
}

.theme--light {
	.v-label {
		color: rgba(0, 0, 0, 0.74);
	}
}

.theme--light.v-stepper {
	.v-stepper__step--editable {
		&:hover {
			background: transparent;

			.v-stepper__label {
				color: $black;
				text-shadow: none;
			}
		}
	}

	.v-stepper__step--editable .v-ripple__container {
		display: none;
	}
}

.v-text-field.v-text-field--enclosed .v-text-field__details {
	margin-bottom: 0;
}

.v-text-field--outline.v-text-field--solo {
	.v-input__control .v-input__slot {
		box-shadow: none !important;
		min-height: 40px;
		border: 1px solid #ced4da;
		font-size: 14px;
		background: white !important;
		border-radius: 4px;

		&:hover {
			border: 1px solid #ced4da !important;
		}

		.v-label {
			font-size: 14px;
		}
	}

	&.error--text {
		.v-input__control .v-input__slot:hover {
			border: 2px solid $vermelho !important;
		}
	}
}

.v-text-field--outline>.v-input__control>.v-input__slot {
	background: transparent !important;
	border-radius: 2px;
}

.v-text-field--box.v-text-field--single-line input,
.v-text-field--full-width.v-text-field--single-line input,
.v-text-field--outline.v-text-field--single-line input {
	margin-top: 0;
}

.error--text {

	.v-input__control>.v-input__slot,
	.v-input__control>.v-input__slot:hover {
		border: 2px solid $vermelho !important;
		-webkit-transition: border 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
		transition: border 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
	}

	.v-text-field__details,
	&.v-text-field .v-text-field__details {
		padding: 0;
	}
}

.v-select-list {
	.v-list {
		/*padding: 0;*/

		.v-list__tile {
			height: 42px;

			.v-list__tile__title {
				font-size: 14px;
			}
		}
	}
}

.v-input--selection-controls__ripple {
	border-radius: 50%;
	cursor: pointer;
	height: 22px;
	position: absolute;
	-webkit-transition: inherit;
	transition: inherit;
	width: 22px;
	left: -9px;
	top: calc(50% - 19px);
	margin: 7px;
}

.v-messages {
	min-height: auto;
}

span.info-message {
	display: block;
	width: 100%;
	text-align: right;
	font-style: italic;
	font-size: 13px;
	color: #ff7043;
	line-height: 20px;

	&.error {
		color: $vermelho;
	}
}

.btn-imprimir {
	position: absolute;
	float: right;
	right: 50px;
	top: 100px;
}

.button-steps {
	.v-btn {
		font-size: 14px !important;
		color: #ffffff;
		height: auto;
		padding: 0;
		height: 36px;
		overflow: hidden;

		.icon {
			height: 36px;

			.v-icon {
				position: relative;
				float: left;
				font-size: 20px;
				margin-right: 5px;
			}
		}

		span {
			height: 36px;
			padding: 8px 10px 8px 10px;
			z-index: 10;
		}

		&.next {
			background: $primary !important;
			box-shadow: 1px 1px 10px 1px rgba(80, 136, 146, 0.2);
			/*transition: all 1s ease;*/
			position: relative;

			.icon {
				padding: 8px 0px 8px 5px;
				background: rgb(80, 136, 146);
			}

			.v-btn__content {
				position: relative;
				z-index: 1;

				&:before {
					transition: all 1s ease;
				}
			}

			&.left {
				.v-btn__content {
					&:before {
						content: "";
						width: 100%;
						height: 100%;
						background-color: #508892;
						position: absolute;
						transition: all 0.5s ease;
						top: 0;
						right: 100%;
					}
				}

				&:hover .v-btn__content:before {
					right: 0;
				}
			}

			&.right {
				.v-btn__content {
					&:before {
						content: "";
						width: 100%;
						height: 100%;
						background-color: #508892;
						position: absolute;
						transition: all 0.5s ease;
						top: 0;
						left: 100%;
					}
				}

				&:hover .v-btn__content:before {
					left: 0;
				}
			}
		}
	}

	.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
		background-color: rgba(0, 0, 0, 0.12) !important;

		.icon {
			background-color: rgba(0, 0, 0, 0.12) !important;
		}
	}
}

small {
	clear: both;
	display: block;
	font-style: italic;
	font-weight: 400;
}

.v-dialog {
	overflow-y: inherit;

	.v-card__title {
		padding-bottom: 0;
		padding-top: 30px;

		.h1 {
			font-size: 24px;
			margin-bottom: 0;
			font-weight: 800;
			text-align: center;
			width: 100%;
			line-height: 30px;
			margin-top: 10px;
		}
	}

	p {
		font-size: 16px;
		font-family: "Roboto", sans-serif !important;
		text-align: center;
		width: 100%;
	}

	.button-area {
		.v-btn__content {
			margin-top: -1px;
		}

		.v-btn {
			font-size: 14px;
			color: #ffffff;
			margin-bottom: 10px;
			margin-right: 10px;
			box-shadow: 1px 1px 10px 1px rgba(185, 112, 45, 0.2);
			height: auto;
			padding: 0;
			height: 36px;
			overflow: hidden;

			.icon {
				padding: 8px 5px 8px 10px;
				height: 36px;
				background-color: #e48413;

				.v-icon {
					position: relative;
					float: left;
					font-size: 20px;
					margin-right: 5px;
				}
			}

			span {
				height: 36px;
				padding: 8px 20px 8px 20px;
			}
		}
	}

	.image-header {
		z-index: 100;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: -30px;

		.icone {
			margin: auto;
			left: 0;
			right: 0;
			position: absolute;

			&.v-icon {
				font-size: 58px;

				&.mdi-delete {
					color: $vermelho;
				}

				&.mdi-comment {
					color: $azul-econet;
				}
			}
		}

		img.icone {
			height: 60px;
		}
	}

	.text {
		font-size: 14px;
		width: 100%;
	}
}

.lista-area {
	.acao {
		.help {
			img {
				height: 20px;
				margin-top: 5px;
			}
		}

		.v-icon {
			font-size: 20px;
			margin: 0px 10px 0;
		}

		.mdi-check-bold,
		.mdi-content-copy {
			color: $success;

			&.disabled {
				color: #bfbfbf;
			}
		}

		.mdi-delete {
			color: $vermelho;
		}

		.mdi-pencil {
			color: $azul-econet;
		}
	}

	.theme--light.v-table {
		background: transparent;
		width: calc(100% - 2px);

		thead {
			tr {
				height: auto;

				th {
					padding: 0 10px;
					height: 30px;
					color: #5d5d5d;
					background: transparent;
					font-size: 12px;
					border: 0;
					font-weight: 500;
					letter-spacing: 0.3px;
					text-transform: uppercase;

					&.column.sortable.active,
					&.column.sortable.active:hover {
						color: #5d5d5d;

						.v-icon {
							color: #5d5d5d;
						}
					}
				}

				&:first-child {
					border-bottom: 0;
				}
			}
		}

		tbody {
			tr {
				border-bottom: 0;
				border-radius: 4px;
				border-bottom: 3px solid #fafafa;

				td {
					background-color: rgba(214, 214, 214, 0.35);
					padding: 0;
					height: auto;
					border: 2px solid #fafafa;

					&:first-child {
						border-top-left-radius: 6px;
						border-bottom-left-radius: 6px;
					}

					&:last-child {
						border-top-right-radius: 6px;
						border-bottom-right-radius: 6px;
					}

					.item {
						padding: 0 10px;
						height: 40px;
						display: flex;
						align-items: center;

						&.center {
							justify-content: center;
						}
					}

					.v-alert.v-alert.info-cinza {
						background-color: #f1f1f1;
						color: #39393e;
						text-align: center;
						/*font-weight: 500;*/
						padding: 10px;
						border: 0;
					}
				}

				&:hover:not(.v-datatable__expand-row) {
					background-color: #f1f1f1;
				}
			}
		}

		.v-datatable__progress {
			display: none;
		}
	}

	.v-datatable .v-datatable__actions {
		background-color: transparent;
		color: rgba(0, 0, 0, 0.54);
		border-top: 0;
	}

	.v-pagination {
		margin-top: 10px;

		.v-pagination__navigation {
			outline: none;
			box-shadow: none;
			background: transparent;

			.v-icon {
				font-size: 18px;
			}
		}

		.v-pagination__item {
			font-size: 12px;
			box-shadow: none;
			min-width: 30px;
			height: 30px;
			padding: 0;
			border: 1px solid #ced4da;
			//box-shadow: 0px 1px 1px -2px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 0px 5px 1px rgba(0, 0, 0, 0.1);

			&:focus {
				outline: none;
			}
		}

		.v-pagination__item--active {
			color: #fff;
			background-color: $black;
			border: 1px solid $black;
			box-shadow: none;
		}

		.v-pagination__navigation--disabled {
			.v-icon {
				color: rgba(0, 0, 0, 0.24);
			}
		}
	}
}

.negativo {
	font-weight: bold;
	color: $vermelho;
}

.error--text {
	.v-label {
		color: $vermelho;
	}

	.v-messages__message {
		font-weight: 500;
		color: $vermelho;
	}

	color: $vermelho;
}

.v-alert {
	border-radius: 8px;
	color: #39393e;
	text-align: left;
	padding: 10px 45px;
	margin: 0;
	border-width: 0 0 4px 0;
	font-weight: 500;

	.v-icon {
		position: absolute;
		left: 10px;
	}

	&.info-cinza {
		background-color: #f1f1f1;

		.texto {
			font-weight: 500;
			color: #616161;
		}
	}

	&.warning,
	&.lucro-real {
		background-color: #efc84730 !important;
		color: #b58959;
		font-weight: 500;
		border-color: rgba(210, 117, 35, 0.43) !important;
		border: none;

		.v-icon {
			color: #b58959;
		}
	}

	&.simples-nacional {
		background-color: #c2e2cd9e !important;
		color: #608a6e;
		border-color: 1px solid #264a3a;
		border: none;

		.v-icon {
			color: #608a6e;
		}
	}

	&.lucro-presumido,
	&.informacao {
		background: #e3f2fd !important;
		color: #73a3c7;
		font-weight: 500;
		color: #578cb3;
		border-color: #73a3c7bd !important;
		border: none;

		.v-icon {
			color: #73a3c7;
		}
	}
}

.v-progress-circular {
	color: #f7931d;
}

.v-stepper--vertical .v-stepper__content {
	padding: 0;
}

#noty_layout__topCenter {
	top: 0px;
	width: 100%;
	max-width: 100%;

	.noty_theme__mint {
		&.noty_bar {
			font-family: Roboto;
			margin-top: 0;
			border-radius: 0;
			width: 100%;
			text-align: center;
			margin-bottom: 0;
			/*position: absolute;*/
		}

		&.noty_type__success {
			background: #81c784;
			border-color: #66bb6a;
		}
	}
}

.noty_effects_open {
	opacity: 0;
	transform: translate(50%);
	/*animation: noty_anim_in 0.5s cubic-bezier(0.0, 0.0, 0.2, 1);*/
	/*animation: noty_anim_in 0.5s;*/
	transition: all 0.5s ease-in-out 0s;
}

.noty_effects_close {
	/*animation: noty_anim_out 0.5s cubic-bezier(0.0, 0.0, 0.2, 1);*/
	/*animation: noty_anim_in 0.5s;*/
	transition: all 0.5s ease-in-out 0s;
}

fieldset {
	border-radius: 8px;
	border-color: #d1d1d1;

	/*
    .v-text-field.v-text-field--solo .v-input__control {
        margin-left: 10px;
    }
    */

	.lista {
		padding: 0;
	}

	.v-input--radio-group,
	.v-input--selection-controls {
		margin-top: 0;
		margin-left: 10px;
	}
}

@keyframes noty_anim_in {

	/*
    100% {
		transform: translate(0);
		opacity: 1;
    }
    */
	from {
		opacity: 0;
		-webkit-transform: translatey(-10px);
		-moz-transform: translatey(-10px);
		-o-transform: translatey(-10px);
		transform: translatey(-10px);
	}

	to {
		opacity: 1;
		-webkit-transform: translatey(0);
		-moz-transform: translatey(0);
		-o-transform: translatey(0);
		transform: translatey(0);
	}
}

@keyframes noty_anim_out {

	/*
    100% {
		transform: translate(100%);
		opacity: 0;
    }
    */
	from {
		opacity: 1;
		-webkit-transform: translatey(0);
		-moz-transform: translatey(0);
		-o-transform: translatey(0);
		transform: translatey(0);
	}

	to {
		opacity: 0;
		-webkit-transform: translatey(-10px);
		-moz-transform: translatey(-10px);
		-o-transform: translatey(-10px);
		transform: translatey(-10px);
	}
}

.expansion-area {
	.theme--light.v-sheet {
		border-color: #fff;
		background-color: #f3f3f3b0;
		padding: 25px;
		border-top: 1px solid #eaeaea;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.fieldset-area {
		margin-bottom: 20px;

		fieldset {
			background-color: white;
			border-color: #d1d1d1;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.v-expansion-panel {
		/*box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.01), 0px 0px 2px 0px rgba(0, 0, 0, 0.1), 0px 0px 1px 1px rgba(0, 0, 0, 0.01);*/
		box-shadow: none;
		border-radius: 4px;

		.v-expansion-panel__container {
			margin-bottom: 10px;
			border-top: 0;

			&:first-child {
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
			}

			&:last-child {
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
			}
		}
	}

	.v-expansion-panel__header {
		border-radius: 3px;
		z-index: 1;
		background: #ffffff;
		border: 1px solid #d1d1d1;

		.descricao {
			span {
				float: left;
			}

			.help {
				img {
					height: 20px;
					margin-top: 1px;
					margin-left: 8px;
					float: left;
				}
			}

			.v-icon {
				color: $success;
				font-size: 18px;
				margin-right: 15px;

				&.mdi-alert-circle-outline {
					color: #ff7043;
				}
			}
		}
	}

	.v-expansion-panel__body {
		border: 1px solid #d1d1d1;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		margin-top: -5px;
		z-index: -1;

		.v-input__slot {
			margin-bottom: 5px;
		}

		.v-input--checkbox {
			margin-top: 0;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}

			label {
				font-size: 14px;
			}

			.v-ripple__container {
				margin-left: 1px;
			}

			.v-input__slot {
				align-items: initial;
			}

			.v-input--selection-controls__input {
				.v-icon {
					font-size: 20px;
				}
			}
		}
	}
}

.campos,
.rbt12 {
	.flex-table {
		display: flex;
		flex-flow: row wrap;
		transition: 0.5s;

		&.header {
			padding: 0 15px 0 5px;
			font-weight: 500;

			.flex-row {
				font-weight: 700;
			}
		}

		&.row {
			margin-bottom: 4px;
			background-color: rgba(214, 214, 214, 0.25);
			border-radius: 8px;
			padding: 0 15px 0 5px;
		}

		&.total {
			/* position: sticky; */
			bottom: 3px;
			margin: 15px 0;
			border-bottom: 0px solid $azul-econet;
			position: relative;
			margin-top: 35px;

			&::before {
				content: "";
				width: 100%;
				height: 5px;
				top: -20px;
				left: 0;
				border-bottom: 1px dashed #ccc;
				position: absolute;
			}

			.flex-row {
				&.first {
					font-weight: 700;
					text-transform: uppercase;
				}
			}
		}

		&.header .flex-row {
			padding: 0 10px;
			color: #5d5d5d;
			background: transparent;
			font-size: 11px;
			border: 0;
			font-weight: 700;
			letter-spacing: 0.3px;
			text-transform: uppercase;
			display: flex;
			justify-content: center;

			&.first {
				background: transparent;
			}
		}

		.flex-row {
			width: 160px;
			padding: 5px;
			display: flex;
			align-items: center;
			font-weight: 500;

			&:first-child {
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}

			&:last-child {
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
			}

			&.campo {
				width: 150px;
			}

			.v-input__control {
				min-height: 36px;
			}

			.v-text-field--outline.v-text-field--solo .v-input__control .v-input__slot {
				margin-bottom: 0;
				/*border-radius: 0;*/
				min-height: 36px;

				.v-text-field__slot {
					input {
						text-align: right;
						font-size: 13px;
					}
				}
			}

			.v-input--is-readonly {
				.v-input__control {
					.v-input__slot {
						background: #eef0f1 !important;
					}
				}
			}
		}
	}
}

.navigation-tabs {
	width: 100%;

	.cnaes {
		margin: 20px 20px 0;
		/* display: -webkit-box; */
		display: -ms-flexbox;
		/* display: flex; */
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: calc(100% - 40px);

		.cnae {
			flex-grow: 1;
			flex-basis: 0;
			padding: 5px 20px;
			text-align: center;
			border-radius: 10px;
			/* background: #5d909a; */
			cursor: pointer;
			z-index: 2;
			margin: 0 5px;
			background: white;
			box-shadow: 0 0 0px 1px #d1d1d1 inset;
			/*box-shadow: 2px 2px 0px 1px #b1b1b1;*/

			.codigo,
			.descricao {
				z-index: 10;
				position: relative;
			}

			.codigo {
				font-weight: 700;
			}

			.descricao {
				font-size: 13px;
				font-weight: 400;
				line-height: 16px;
			}

			&.active {
				/*
                background: $primary;
                border-color: $primary;
                color: white;
                position: relative;
                */

				font-weight: 500;
				box-shadow: 0 0 0px 2px $primary inset;
				background-color: #e9eeee;
				color: $primary;
				background: white;
			}
		}
	}

	.meses {
		display: flex;
		margin: 10px 20px 0;

		.mes {
			text-align: center;
			box-shadow: 0 0 0px 1px #d1d1d1 inset;
			padding: 10px 0;
			cursor: pointer;
			border-radius: 10px;
			margin: 0 5px 20px;
			font-size: 13px;
			background: white;
			flex-grow: 1;
			flex-basis: 0;

			&.active {
				font-weight: 500;
				box-shadow: 0 0 0px 2px $primary inset;
				background-color: #e9eeee;
				color: $primary;
				background: white;
			}
		}
	}

	.segmentos {
		display: flex;
		margin: 10px 20px 0px;
		/* display: -webkit-box; */
		display: -ms-flexbox;
		/* display: flex; */
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: calc(100% - 40px);

		.segmento {
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			cursor: pointer;
			z-index: 2;
			margin: 0 5px;
			border-radius: 10px;
			background: #f1f1f1;
			padding: 6px;
			position: relative;
			align-items: center;
			display: flex;
			min-width: 0;

			.icone-area {
				background: white;
				border-radius: 50%;
				width: 35px;
				min-width: 35px;
				height: 35px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 10px;
			}

			.texto {
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				text-align: center;
				width: 100%;
				letter-spacing: 0.1px;
				font-weight: 400;
				font-size: 15px;
			}

			&.industria {
				i {
					color: #777777;
				}

				&.active {
					background: #6db1ef;
					color: white;
					/*box-shadow: 2px 2px 0px 1px #528ebf;*/

					i {
						color: #6db1ef;
					}
				}
			}

			&.comercio.active {
				background: #9ba8f1;
				color: white;

				i {
					color: #9ba8f1;
				}
			}

			&.servico.active {
				background: #9dd8a0;
				color: white;

				i {
					color: #9dd8a0;
				}
			}

			.segmento-hover {
				display: none;
			}

			&:hover {
				.segmento.segmento-hover {
					display: flex;
					position: absolute;
					top: 0;
					left: -5px;
					width: 100%;
					padding: 6px;
					box-shadow: 1px 1px 10px 2px rgba(109, 109, 109, 0.2);

					.texto {
						text-overflow: inherit;
						white-space: pre-wrap;
						text-align: center;
						width: 100%;
						letter-spacing: 0.1px;
						font-weight: 400;
						font-size: 15px;
					}
				}

				&.industria.active {
					.segmento.segmento-hover {
						background: #6db1ef;
						color: white;
						/*box-shadow: 2px 2px 0px 1px #528ebf;*/

						i {
							color: #6db1ef;
						}
					}
				}
			}
		}
	}
}

.area-tabela {
	width: calc(100% - 50px);
	margin-left: 25px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 30px;
	border-radius: 15px;
	position: relative;

	table.tabela {
		margin: 0;
		width: 100%;
		border: 0px solid black;
		border-radius: 15px;
		overflow: hidden;
		border-collapse: collapse;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			border: 2px solid #73a3c7;
			border-radius: 15px;
			z-index: 0;
		}

		&.auto {
			width: fit-content;
			min-width: fit-content;
		}

		tr:first-child {
			.coluna {
				padding-top: 10px;
			}
		}

		tr:last-child {
			.coluna {
				padding-bottom: 10px;
			}
		}

		.coluna {
			flex-grow: 1;
			flex-shrink: 0;
			max-width: 250px;
			padding: 8px;
			border-bottom: 2px solid #73a3c7;
			border-right: 2px solid #73a3c7;
			text-align: center;

			&.legenda {
				background: #e3f2fd;
				font-weight: 600;
				text-transform: uppercase;
				font-size: 12px;
			}

			&.link {
				padding-right: 30px;
				position: relative;
				z-index: 0;
				border-left: 4px solid #73a3c7;
				text-align: left;

				.v-icon {
					position: absolute;
					right: 5px;
					font-size: 18px;
				}
			}

			&:last-child {
				border-right: 0;
			}
		}

		.linha {
			border-left: 0;
			border-top: 0;
			padding: 8px 0;
			font-size: 80%;
			font-weight: 400;

			&:last-child .coluna {
				border-bottom: 0;
			}
		}

		&.auto {
			width: auto;
			min-width: auto;
			max-width: max-content;

			.coluna {
				max-width: 250px;
				min-width: 150px;
			}
		}
	}



}

.coluna {
	&.coluna-3 {
		max-width: 750px !important;
	}

	&.coluna-2 {
		max-width: 500px !important;
	}
}

.atividades {
	cursor: pointer;
	border-left-style: solid;
	position: relative;

	.texto-segmento {
		text-transform: initial;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		text-align: center;
		width: 100%;
		letter-spacing: 0.1px;
		font-weight: 400;
		font-size: 15px;
		width: 213px;
		padding: 0px;
		z-index: 1;
	}

	.texto-segmento-hover {
		display: none;
	}

	&:hover {

		.texto-segmento-hover {
			border-radius: 15px;
			z-index: 2;
			display: flex;
			position: absolute;
			top: 0;
			left: -5px;
			width: 150%;
			padding: 6px;
			box-shadow: 1px 1px 10px 2px rgba(109, 109, 109, 0.2);

			.texto {
				text-overflow: inherit;
				white-space: pre-wrap;
				text-align: center;
				width: 100%;
				letter-spacing: 0.1px;
				font-weight: 400;
				font-size: 15px;
			}
		}
	}
}