.dialog-simulacao.dialog-excluir {
	.button-area {
		width: 100%;

		.v-btn,
		.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
			box-shadow: none;
			width: calc(50% - 10px);
			margin: 0 5px 10px;
			background: $vermelho;

			&.outline {
				background: transparent;
				color: $vermelho;
				border: 1px solid $vermelho;
				box-shadow: none;

				.v-btn__content {
					margin-top: -2px;
				}

				&.v-btn--disabled {
					border: 0;
				}
			}
		}
	}
}