@import "@/assets/css/variaveis.scss";


.deducoes-modal {
    overflow: auto;
}
.deducoes-modal .row{
    min-width: 800px;
}
.conteudo-ajuda{
    max-height: 450px;
    overflow: auto;
}
.navigation-tabs .meses .mes.active{
    background-color:#dfdfdf;
}

.campos {
    .v-tabs {
        margin-bottom: 30px;

        .v-tabs__div {
            border-bottom: 1px solid #d1d1d1;
        }
    }

    .fieldset-area {
        margin: 0 25px 25px;

        .flex-table.row {
            padding: 0 5px;

            &.total {
                margin-top: 7px;
                margin-bottom: 4px;

                .v-text-field--outline.v-text-field--solo
                    .v-input__control
                    .v-input__slot
                    .v-text-field__slot
                    input {
                    font-weight: 600;
                }
            }
        }

        &.industria {
            fieldset {
                .titulo {
                    color: #6db1ef;
                }

                .flex-table.row {
                    position: relative;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 3px;
                        height: 90%;
                        top: 5%;
                        background: #6db1ef;
                    }
                }
            }
        }

        &.comercio {
            fieldset {
                .titulo {
                    color: #9ba8f1;
                }

                .flex-table.row {
                    position: relative;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 3px;
                        height: 90%;
                        top: 5%;
                        background: #9ba8f1;
                    }
                }
            }
        }

        &.servico {
            fieldset {
                .titulo {
                    color: #9dd8a0;
                }

                .flex-table.row {
                    position: relative;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 3px;
                        height: 90%;
                        top: 5%;
                        background: #9dd8a0;
                    }
                }
            }
        }

        &.efeito {
            animation: opacidade 1s;
        }

        @keyframes opacidade {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0.4;
            }

            100% {
                opacity: 1;
            }
        }
    }

    .flex-table {
        .flex-row {
            &.first {
                width: calc(100% - (2 * 175px));
                font-weight: 400;
                font-size: 13px;
            }

            &.campo {
                margin-left: auto;
                order: 2;
            }

            &.help-area {
                width: 40px;
                margin-left: 0;
                order: 3;

                .help img {
                    height: 25px;
                    margin-top: 5px;
                }
            }

            &.opcao {
                flex-wrap: nowrap;
                justify-content: center;
                width: 150px;
                background-color: #e0e0e052;

                .label {
                    font-size: 12px;
                    font-weight: 400;
                    width: 100%;
                    text-align: center;
                }

                .v-input--selection-controls {
                    margin-left: 0;
                    display: flex;
                    justify-content: center;
                    padding: 0;

                    .v-input__control {
                        min-height: 0;

                        .v-input__slot {
                            margin-bottom: 0;

                            .v-input--selection-controls__input {
                                margin-right: 0;
                            }
                        }
                    }
                }

                .v-icon {
                    margin-right: 10px;
                }
            }

            &.notas {
                margin-left: 0;
                justify-content: flex-end;

                .nota {
                    background: #42c3d4;
                    color: white;
                    width: 17px;
                    height: 17px;
                    text-align: center;
                    border-radius: 50%;
                    margin-left: 5px;
                    font-size: 11px;
                    cursor: pointer;
                    padding-top: 1px;
                }
            }
        }
    }

    .button-steps {
        margin: 0px 25px 0;
    }

    .v-input--switch .v-input--selection-controls__ripple {
        left: -8px;
        top: calc(50% - 18px);
    }

    .replicar {
        display: flex;
        align-items: center;

        .campo {
            width: calc(100% - 120px);
            margin-right: 10px;
        }

        .button-steps {
            .v-btn.next {
                //background: $azul-econet !important;
                //box-shadow: 1px 1px 10px 1px rgba(43, 80, 113, 0.2);

                .icon {
                    //background: #264663;
                }

                .v-btn__content:before {
                    //background: #264663;
                }
            }
        }
    }
}
